

  canvas {
    position: absolute;
    top: 100px;
  }

  #control {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: skyblue;
    padding: 10px;
    border-radius: 12px;
    width: 50%;
  }

  input {
    padding: 7px;
    border-radius: 12px;
    border-width: 0px;
    min-width: 14rem;
  }

  input:focus {
    outline: 0;
  }

  button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-width: 0px;
    border-radius: 12px;
    min-width: 10rem;
  }

  button:hover {
    opacity: 50%;
  }

  button:focus {
    outline: 0;
  }

  label {
    cursor: pointer;
    border-width: 1px solid black;
    /* Style as you please, it will become the visible UI component. */
  }

  #border_wrap {
    margin-top: 1px;
    width: 720px;
    height: 560px;
    padding: 2px;
  }